@model NH.JewelryErpMini.Models.viewDto.LoginDto
@{
    ViewBag.Title = "JEWELRY(Demo)";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <style type="text/css">
        #loginBox{max-width:360px; margin:0 auto;position: absolute;top: 50%;margin-top: -200px;left: 50%;margin-left: -250px;}
        /*#space{height:20px;clear:both;display:block}*/
        .space {margin-bottom:15px;}
    </style>
</head>
<body>
    <div id="loginBox" class="panel panel-primary" style="border-color:#95B8E7">
        <div class="panel-heading" style="padding:2px 10px;background-color:#ECF3FF;border-color:#95B8E7;color:#0e459b"><h5>Login</h5></div>
        @*<div id="space"></div>*@
        <div class="panel-body">
            <form id="formLogin" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group space">
                    <div class="col-xs-12">
                        <div class="input-group space">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", placeholder = "工号" } })
                            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12  ">
                        <div class="input-group space">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "密码" })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-offset-3 col-md-6 col-md-offset-3 ">
                        <button type="button" class="btn btn-sm btn-info" onclick="btn_Click()"><span class="glyphicon glyphicon-log-in"></span>登录</button>
                        <button type="reset" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-repeat"></span>取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        @Scripts.Render("~/bundles/bootstrap")
        <script type="text/javascript" src="@Url.Content("~/Scripts/projectJs/account.js")"></script>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
